# Git
.git
.gitignore

# Node
node_modules
.npmrc
# NOTE: pnpm-lock.yaml is needed for Docker build, so NOT excluding it

# Rust
target/
# NOTE: Cargo.lock is needed for Docker build, so NOT excluding it

# Tuono
.tuono/
out/

# Tauri
src-tauri/target
build-tauri/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
Dockerfile
docker-compose.yml
